<!DOCTYPE html>
<html>
    <head>
        <title>WCI CS Club Choose Your Own Adventure {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?Roboto:wght@100&display=swap"/>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    </head>
    <body>
        {% include "navbar.html" %}
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>